
# dependencies
/node_modules

#logs
/logs

# testing
/src/__test__/coverage
/jest-stare


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.idea

#docker-env
docker-env/core-local.yml
docker-env/core-stage.yml
docker-env/nginx-api-local.conf
docker-env/nginx-local.conf